<!-- theater-scholl-app/core/templates/core/login.html -->
{% extends "core/base.html" %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Вход в аккаунт</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя</label>
                <input type="text" class="form-control" id="username" name="username" required autocomplete="username">
            </div>         
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" required autocomplete="current-password">
            </div>

            <button type="submit" class="btn btn-primary">Войти</button>
        </form>

        <!-- Ссылки на регистрацию и восстановление пароля -->
        <div class="text-center mt-3">
            <a href="{% url 'password_reset' %}" class="btn btn-link">Забыли пароль?</a>
            <a href="{% url 'register' %}" class="btn btn-outline-secondary">Регистрация</a>
        </div>
    </div>
{% endblock %}
