<!-- Путь: theater-scholl-app/core/templates/core/password_reset_done.html -->
{% extends "core/base.html" %}

{% block title %}Сброс пароля успешно{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Запрос на сброс пароля отправлен</h2>
        <p class="text-center">Если ваша учетная запись существует, вы получите письмо с инструкцией по восстановлению пароля.</p>
        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="btn btn-primary">Вернуться к входу</a>
        </div>
    </div>
{% endblock %}
